{% extends 'ArteNativo.html' %}

{% block content %}
<style>
    table {
        border: 1;
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        color: black;
    }

    #contenedor-formulario {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form {
        font-size: larger;
        border: 1;
        border-style: dotted;
        border-radius: 8px;
        width: fit-content;
    }
</style>
<div id="contenedor-formulario">
    <form method="post">
        <h2 style="font-style: italic;">Editar Cliente</br></br></h2>
        {% csrf_token %}
        <table border=1 style="text-align: left;">
            {{ form.as_table}}
        </table>
    </br>
        <button type="submit">Guardar Cambios</button>


        <a href="{% url 'ListaClientes' %}"> Volver a la lista de clientes</a></br></br>
    </form>
    </br>
</div>

{% endblock %}