{% extends 'ArteNativo.html' %}

{% block content %}
<style>

    table {
        width: 100%;
    }
</style>
<div style="border: 1; border-radius: 8px; border-style: dotted; border-color: red;">
    <h2>Eliminar Cliente</h2>
    </br></br>
    <p>¿Estás seguro de que deseas eliminar al cliente <span style="font-weight: bolder;font-style: italic;color: blue;">{{ cliente.Nombres }} {{ cliente.ApPaterno }}</span> ?</p>

    <form method="post">
        {% csrf_token %}
    </br></br>
        <table>
            <tr>
                <td><button type="submit" class="btn-advertencia">SÍ - Eliminar registro</button></td>
                <td><button class="btn-comun"><a href="{% url 'ListaClientes' %}">NO - Volver a la lista</a></button></td>
            </tr>
        </table>

    </form>
    </br></br>

</div>
{% endblock %}