{% extends 'ArteNativo.html' %}

{% block content %}
<style>
    table {
        font-family:Arial, Helvetica, sans-serif;
        font-size: medium;
        color: black;
    }

    #contenedor-formulario {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #NuevoCliente {
        font-size: larger;
        border: 1;
        border-style: dotted;
        border-radius: 8px;
        width: fit-content;
    }
</style>

<div id="contenedor-formulario">
    <form method="post" id="NuevoCliente">
        <h2 style="margin-bottom: 15px;">Información del Cliente</h2>
        {% csrf_token %}
        <table style="text-align: left;">
            <tr>
                <td>{{ form.as_table }}</td>
            </tr>
            <tr>
                <td><button class="btn-guardar" type="submit" >Guardar Cliente</button></td>
                <td><button class="btn-comun"><a href="{% url 'ListaClientes' %}">Volver</a></button></td>
            </tr>
            </table>
    </form>
</div>
{% endblock %}
