{% extends 'ArteNativo.html' %}

{% block content %}

<style>
    #MenuAdm {
        display:block;
    }
</style>

<body>

    <h2 style="margin-top: 0,5cm;margin-bottom: 10px;">Nómina de Clientes</h2>
    <p style="text-decoration: underline; font-weight: bold;font-size: small;font-style: italic;">Puede Filtrar la lista ID Cliente (RUT).</p>

    <!-- Barra de filtros para la lista de Clientes -->
    <form method="post">
        {% csrf_token %}
        <input id="IDCliente" type="text" name="filtro_ID" placeholder="RUT" onchange="Enlace()" style="font-size: large;">
        <p id="visor"></p>
        <p><a id="EnlaceForm" href="{% url 'NominaFiltrada' Id_cliente='.' %}">Filtrar</a></p>
    </form>
    
    <!-- Entregará el mensaje de confirmación de la creación o edición del registro- Cliente -->
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- Tabla que mostrará la lista de clientes con las opciones de editar y eliminar por línea -->
    <table border="1"; style="width: 100%;">
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombres</th>
                <th>Apellido Paterno</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acciones</th> <!-- Nueva columna para acciones -->
            </tr>
        </thead>
        <tbody>
            {% for cliente in NominaClientes %}
            <tr>
                <td>{{ cliente.IdCliente }}</td>
                <td>{{ cliente.Nombres }}</td>
                <td>{{ cliente.ApPaterno }}</td>
                <td>{{ cliente.Telefono }}</td>
                <td>{{ cliente.Correo }}</td>
                <td>
                    <a href="{% url 'editar_cliente' cliente.IdCliente %}">Editar</a></br>
                    <a href="{% url 'eliminar_cliente' cliente.IdCliente %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            <tr><button class=" btn-comun"style="margin-bottom: 10px; margin-top: 10px;"><a href="{% url 'NuevoCliente' %}">Nuevo Cliente</a></button></tr>
        </tbody>
    </table>
    
    <script>
        //Esta función modifica el atributo href de la acción <a id=EnlaceForm>
        function Enlace() {
            var filtro = document.getElementById("IDCliente").value;
            var Enlace = document.getElementById("EnlaceForm");

            Enlace.href = "{% url 'NominaFiltrada' Id_cliente='.' %}".replace(".", filtro);
        }
    </script>

</body>

{% endblock %}