{% extends 'ArteNativo.html' %}

{% block content %}

<style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1px;
    }

    .grid-item {
      text-align: center;
      border-style: solid;
      border-color: rgb(200, 200, 200);
      border-width: 1px;
      align-items: center;
    }

    .grid-item img {
      max-width: 200px;
      height: 200px;
      margin-top: 2px;
      margin-left: 2px;
    }
  </style>



<div id="Menu">
    <nav id="BarraProductos" style="background-color: rgb(1, 89, 46);margin-bottom: 5px;">
        <ul>
            <li><a href="{% url 'ListaProductoFiltrada' tipo_producto='A' %}">Dormitorio</a></li>
            <li><a href="{% url 'ListaProductoFiltrada' tipo_producto='B' %}">Sala</a></li>
            <li><a href="{% url 'ListaProductoFiltrada' tipo_producto='C' %}">Comedor</a></li>
            <li><a href="{% url 'ListaProductoFiltrada' tipo_producto='D' %}">Cocina</a></li>
            <li><a href="{% url 'ListaProductoFiltrada' tipo_producto='E' %}">Exteriores</a></li>
            <li><a href="{% url 'ListaProductoFiltrada' tipo_producto='F' %}">Decoración</a></li>
            <li style="float:right;"><a href="{% url 'ListaProducto' %}">Todos</a></li>
        </ul>
    </nav>
</div>
<p style="text-decoration: underline; font-weight: bold;font-size: small;font-style: italic;margin-bottom: 10px;">Haga en la opción del menú para filtrar por habitación.</p>
<h2>Nuestros Productos</h2>
<div class="grid-container">
    {% for producto in productos %}
    <div class="grid-item">
        <img src="{{ producto.ImagenProducto.url }}" alt="{{ producto.NombreProducto }}" data-toggle="tooltip" data-placement="top" title="{{producto.IdProducto}} - {{producto.NombreProducto}} - {{producto.PrecioUnitario}}">
        <p><strong>{{ producto.NombreProducto }}</strong></p>
    </div>
    {% endfor %}
</div>
{% endblock %}
