{% extends 'ArteNativo.html' %}

{% block content %}
<style>
    table {
        border: 1;
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        color: black;
    }

    #contenedor-formulario {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #NuevoCliente {
        font-size: larger;
        border: 1;
        border-style: dotted;
        border-radius: 8px;
        width: fit-content;
    }
</style>

<div id="contenedor-formulario">
    <form method="post" id="NuevoCliente">
        <h2 style="margin-bottom: 15px;">Nuevo Cliente</h2>

        {% csrf_token %}
        <table style="text-align: left;">{{ form.as_table }}</table></br></br>
        <button type="submit">Guardar Cliente</button></br></br></br>
        <p style="font-size: large; font-weight: bold;"><a href="{% url 'ListaClientes' %}">Volver a Nómina de Clientes...</a></p></br></br>
    </form>
</div>
{% endblock %}
